
.title_text_image {
    margin: auto;
    text-align: center;
}


.title_text_image p{
    text-align: left;
}
.title_text_image img{
    float: left;
    margin: 1em;
    padding: 0px;
 
}


.w3-container img{
    max-width: 100%;
}

.biggerText p{
    font-size: 1.15rem;
    padding: 1.5em 0;
}

.nav{
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.mySlides {display:none;}

.w3-button{
    transition: .1s;
    border: solid white 2px;
    border-radius: 10%;

}
.w3-button:hover{
    font-size: 150%;
}

.w3-col.l3 {
    position: sticky;
    top: 5%;
    max-height: 110vh;
    overflow: scroll;
}

.w3-container .w3-padding{
    border-bottom: solid black 2px;
}

.framingWorkSlides img,.logoWorkSlides img{
    width: 50%;
}
.framingWorkSlides,.logoWorkSlides {
    width: 80%;
}

.divSlides{
    margin: auto;
    
}
.divSlides *{
    vertical-align: middle;


}


.floatImgLeft{
    float: left;
    margin: 0 1em 0 0;
}


.floatImgRight{
    float: right;
    margin: 0 0 0 1em;
}

.centerImage {
    display: block;
    margin: auto;
    width: 65%;
}
.centerImage img{
    margin: auto;
    width: 100%;
}